.AppContainer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.image {
  width: 20px;
}
.root {
  text-align: center;
  overflow: hidden;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 20px;
}
.frame {
  color: white;
  padding: 10px 10px 30px 20px;
}
.FlexboxComprar {
  display: flex;
  flex: 1;
  /* VERTICAL ALIGNMENT: */
  align-items: top;
  /* align-items: stretch; */
  /* HORIZONTAL ALIGNMENT */
  /* justify-content: space-between; */
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px 35px;
}
.FlexboxComprar > div {
  flex: 1; /* occupy the whole height */
  flex: 1 1 260px; /* 320px min, than wrap! */
  min-height: 280px;
  padding: 20px 35px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  background-color: #145a83;
  box-sizing: border-box;
}
/* ***** MOBILE ***** */
@media (max-width: 700px) {
  .FlexboxComprar {
    width: 100%;
    padding: 10px;
  }
  .FlexboxComprar > div {
    width: 100%;
  }
}

.flexInner {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.downPart {
  margin-top: auto !important;
}

.SectionGrey {
  background-color: #f3f3f3;
}
/* .Description {
  min-height: 120px;
} */
.SectionTitle {
  font-size: 2.8em;
  color: #4d7994;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
}
.titleSecond {
  /* margin-top: 30px; */
  font-size: 0.5em;
  display: block;
  line-height: 1.2em;
  font-weight: lighter;
}
.SectionDescription {
  padding: 20px 40px;
  font-size: 1.3em;
  color: #444444;
  max-width: 1200px;
  margin: 0 auto !important;
  float: none !important;
}
/* .SubTitle {
  height: 50px;
} */
/* .Discount {
  height: 50px;
} */
.CenterAligned {
  text-align: center;
}
.ContainerCompra {
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
  color: white;
}
.TextShadow {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

/* TITLE: */
.ContainerCompra h1 {
  font-size: 1.6em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}
/* SUBTITLE: */
.ContainerCompra h2 {
  font-weight: normal;
}
.ContainerCompra h3 {
  font-size: 1.6em;
  /* margin-bottom: 10px; */
  color: #fb5f2e;
}
.ContainerCompra p {
  font-size: 1.2em;
}
.OldPrice {
  color: black;
  font-size: 1.4em;
  text-decoration: line-through;
}
.NewPrice {
  font-size: 1.4em;
  font-weight: bold;
}
