.colorsWebSite {
  color: #8f2c31;
  color: #0155a0; /* hover */
  color: #4d7994; /* Section Title */
  color: #444444;
  color: #fb5f2e; /* DISCOUNT */
  background-color: #31ae75;
  color: #e8ba3c;
  background-color: #145a83; /* SectionBlueDark */
  background-color: #033959; /* FOOTER */
  background-color: #f3f3f3; /* SectionGrey */
  background-color: #535353; /* SectionGreyDark */
}
.fontBlue {
  color: #4d7994;
}
.AppContainer {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.CenterAligned {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.CenterAligned h2 {
  text-align: left;
}
.SectionTitle {
  padding: 15px;
  font-size: 2.8em;
  color: #4d7994;
  // text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
  @media (max-width: 700px) {
    font-size: 2em;
  }
}
.titleSecond {
  margin-top: 30px;
  font-size: 0.5em;
  display: block;
  line-height: 1.2em;
  // font-weight: lighter;
}
.UsuarioDadosStyle h3 {
  text-align: left;
  margin-bottom: 10px;
  font-size: 1.5em;
}
.UsuarioDadosStyle h2 {
  text-align: left;
}
.LeftAlignment {
  text-align: left;
}
.UsuarioDadosStyle p {
  text-align: left;
  margin-bottom: 5px;
  font-size: 1.3em;
}
.AvisoParaLogar {
  padding: 0 15px 0 15px;
  color: #8f2c31;
  text-align: center !important;
  @media (max-width: 900px) {
    font-size: 1.3em;
  }
}
.GridCheckout {
  display: grid;
  grid-template-columns: 45% 50%;
  box-sizing: border-box;
  justify-content: center;
  padding: 20px 60px;
  @media (max-width: 900px) {
    grid-template-columns: 95%;
    text-align: center;
    justify-content: space-around;
    padding: 10px;
  }
}
.GridCheckout > div {
  width: 100%;
  @media (max-width: 900px) {
    text-align: center;
  }
}
.GridCheckout h3 {
  /* color: white; */
  // text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
  text-align: left;
}
// .GridCheckout h2 {
//   text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
// }
.InlineBlock {
  display: inline-block;
}
.ImgResumoCompra {
  margin-right: 10px;
  text-align: left;
}
.FontBlue {
  color: #4d7994;
  /* text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7); */
}
.BtnFinalizar {
  text-align: center;
}
.MobileOnly {
  display: none;
}
/* MOBILE */
@media (max-width: 900px) {
  .UsuarioDadosStyle h3 {
    text-align: center;
  }
  .UsuarioDadosStyle p {
    text-align: center;
  }
  .MobileOnly {
    display: inline-block;
  }
  .UsuarioDadosStyle h2 {
    text-align: center;
  }
  .LeftAlignment {
    text-align: center;
  }
}
