.ButtonBuy {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 10px 40px;
  font-size: 1.4em;
  border-radius: 10px;
  /* background-color: #e8ba3c; */
  box-sizing: border-box;
  outline: 0;
  border: none;
  /* border-bottom: 2px solid #9b7c26; */
  transition: 0.2s;
  /* NEW: */
  background-color: transparent;
  border: 2px solid #e8ba3c;
}
.ButtonBuy:hover {
  /* color: #e8ba3c;
  background-color: white; */
  /* transform: translateY(-2%); */
  box-shadow: 5px 15px 21px -17px rgba(0, 0, 0, 0.72);
  -webkit-box-shadow: 5px 15px 21px -17px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 5px 15px 21px -17px rgba(0, 0, 0, 0.72);
  /* NEW: */
  /* color: #e8ba3c; */
  /* text-shadow: 1px 1px rgba(0, 0, 0, 0.72); */
}
.BlueBackBtn {
  background-color: #0155a0 !important;
  border: 2px solid #0155a0;
}
.GreenBackBtn {
  background-color: #1e8658 !important;
  border: #1e8658 !important;
}
.BlueBtn {
  /* background-color: #0155a0; */
  color: #0155a0;
  height: 43px;
  /* border: 1px solid #0155a0;
  border-bottom: 2px solid #023058; */
  /* NEW: */
  background-color: transparent;
  border: 2px solid #0155a0;
}
.BtnGreen {
  /* background-color: #0155a0; */
  color: #1e8658;
  height: 43px;
  /* border: 1px solid #0155a0;
    border-bottom: 2px solid #023058; */
  /* NEW: */
  background-color: transparent;
  border: 2px solid #1e8658;
}
.BtnGreenPagar {
  color: #1e8658;
  height: 60px;
  background-color: transparent;
  border: 2px solid #1e8658;
}
.OrangeBtn {
  background-color: #e8ba3c;
  color: white;
  height: 43px;
  border: 1px solid #e8ba3c;
  border-bottom: 2px solid #bd8d0c;
}
.OrangeBtn:hover {
  background-color: white;
  color: #e8ba3c;
  /* border: 1px solid #bd8d0c; */
}

.BlueOppositeBtn {
  background-color: white;
  color: #0155a0;
  height: 60px;
  width: 220px;
  /* padding: 15px 60px; */
  border: 1px solid #0155a0;
  border-bottom: 2px solid #023058;
}
.BlueOppositeBtn:hover {
  background-color: #0155a0;
  color: white;
  /* border: 1px solid #023058; */
}
.GreenOrangeBtn {
  font-size: 1.8em;
  color: white;
  background-color: #31ae75;
  height: 80px;
  width: 250px;
  /* padding: 15px 60px; */
  border: 1px solid #31ae75;
  border-bottom: 2px solid #1e8658;
}
.GreenOrangeBtn:hover {
  color: white;
  border: 1px solid #c4441e;
  border-bottom: 2px solid #fb5f2e;
  background-color: #fb5f2e; /* DISCOUNT */
}

.colorsWebSite {
  color: #8f2c31;
  color: #0155a0; /* hover */
  color: #4d7994; /* Section Title */
  color: #444444;
  color: #fb5f2e; /* DISCOUNT */
  background-color: #31ae75;
  background-color: #1e8658;
  color: #e8ba3c;
  background-color: #145a83; /* Comprar Declaração Box */
  background-color: #033959; /* FOOTER */
  background-color: #f3f3f3; /* SectionGrey */
  background-color: #535353; /* SectionGreyDark */
  background-color: #145a83; /* SectionBlueDark */
}
